* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background: url('../images/login_bg.jpg') no-repeat;
    background-size: cover;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

.box {
    width: 400px;
    height: 300px;
    background-color: #fff;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 30%);
    /* padding-top: 50px; */
    padding-right: 50px;
}

label {
    width: 85px !important;
    padding: 9px 2px !important;
}

.btn {
    text-align: right;
}

.title_img {
    width: 100%;
    margin-left: 40px;
    height: 50px;
    background: url('/assets/images/login_title.png') no-repeat center;
}